<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaflet Map</title>

    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      crossorigin=""
    />

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""
    ></script>
  </head>
  <body>
    <div
      class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
      <h2 class="text-white text-4xl md:text-6xl tracking-tight">
        Conoce Nuestros Productos
      </h2>
      <p class="text-slate-400 mt-4 text-lg md:text-xl">
        Conoce un poco de nosotros, de lo que vendemos, no te vamos a
        desepcionar con nuestros cocteles, aguardientes, shots exquisitos y
        cervezas a un excelente precio
      </p>
      <div class="flex mt-5">
        <a href="/blog" class="btn-inverted text-white">Ver productos</a>
      </div>
    </div>

    <!-- Contenedor para el mapa -->
    <div id="map" class="!h-[80vh] mt-10"></div>

    <!-- Script de inicialización del mapa -->
    <script type="module">
      document.addEventListener("DOMContentLoaded", () => {
        if (typeof L !== "undefined") {
          const map = L.map("map").setView([4.746368, -74.09728], 12);
          L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution:
              '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          }).addTo(map);
          L.marker([4.746368, -74.09728])
            .addTo(map)
            .bindPopup("¡Hola! Aqui esta nuestro bar.")
            .openPopup();
        } else {
          console.error("Leaflet no se cargó correctamente.");
        }
      });
    </script>
  </body>
</html>
