---
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Nuestras Redes Sociales</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a href="https://facebook.com" target="_blank" rel="noopener">
      <Icon class="icon-transition size-8 md:size-12 hover:text-blue-500" name="simple-icons:facebook" />
    </a>
    <a href="https://twitter.com" target="_blank" rel="noopener">
      <Icon class="icon-transition size-8 md:size-12 hover:text-blue-400" name="simple-icons:x" />
    </a>
    <a href="https://instagram.com" target="_blank" rel="noopener">
      <Icon class="icon-transition size-8 md:size-12 hover:text-pink-500" name="simple-icons:instagram" />
    </a>
    <a href="https://tiktok.com" target="_blank" rel="noopener">
      <Icon class="icon-transition size-8 md:size-12 hover:text-black" name="simple-icons:tiktok" />
    </a>
  </div>
</div>

<style>
  .icon-transition {
    transition: transform 0.9s ease-in-out, opacity 0.3s ease-in-out;
  }
</style>
